<h1>This is Home Page</h1>

<a href="/post"><button class="btn btn-primary"> Post Graffiti </button></a>
<a href="/map"><button class="btn">Go to Map</button></a>

{{#with data}}
    <div class="container">
        <p class="modal-titl">Here are the list of nearby Graffiti</p>
            {{#each features}}
                <div class="post row" data-coordinate={{ geo.geometry.coordinates}}>
                    <p>Title: {{ title }}</p>
                    <p>Comment: {{ comment }}</p>
                    <p>Location: {{ geo.geometry.coordinates }} </p>
                    <img class="graffiti" src={{ geo.link }} alt="graffiti 1 s drawing"></dt>
                </div>
            {{/each}}
    </div>
{{/with}}


<script>
    $(".post").each( function (i, obj) {
        var coor = $(this).data('coordinate');
        coor = coor.split(',').map(parseFloat).reverse();
        console.log(coor);

        var postmap = $('<div>', {
            "id": "map" + i,
            "style": "height: 200px; width: auto;"
        });
        $(this).append(postmap);

        let map = L.map('map' + i, {
            center: coor,  /** just in case gps does not work */
            zoom: 15,
            doubleClickZoom: false}
        );
        L.marker(coor).addTo(map);

//        Mapbox Tile as a backup
//        L.tileLayer('https://api.mapbox.com/styles/v1/twsalim/cj201s4ev001q2soz3o0zvcsg/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHdzYWxpbSIsImEiOiJjajFoNGpsd2owMGI0MzNvaGNxeWN5ZTJ3In0.X-Mp23YcMlZIfXak5KzKvg').addTo(map);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    });
</script>

