
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>


<h1 id="mainHeading" class="text-center">Pintura Home Feed</h1>
<div id="home-post-btn">
    <a href="/post" class="btn btn-primary"> Post a Pintura! </a>
    </div>
<hr>

{{#with data}}

    
    <div class="container-fluid align-center post_list">

            {{#each features}}
                <div class="container-fluid post row" data-coordinate={{ geo.geometry.coordinates}} data-id={{ id }}>

                    <!--This is hidden (comments shown using modal)-->
                    <div class="comments list-group" hidden="hidden" data-id="{{ id }}">
                        {{#each comments}}
                            <p class="list-group-item" style="font-family: 'Bree Serif', serif;">{{ this }}</p>
                        {{/each}}
                    </div>

                    <div class="post_header">
                        <h3 class="strong post_left">{{ title }}</h3>
                        <div class="post_right user">
                            <p class="post_right user">{{ user }}</p>
                            <p>{{ toLocalTime time }}</p>
                        </div>
                    </div>
                    <img class="post-content graffiti img-rounded img-responsive" src={{ geo.link }} alt="graffiti 1 s drawing"></dt>
                    <div class="post_header">
                        <div class="strong post_left">
                            <p class="text-info" style="font-weight: 100;" >Description: {{ description }}</p>
                            <p class="votes">Votes: {{ votes }}</p>
                            <button type="button" class="btn showmap btn-success" onclick="toggleMap({{id}})">Map</button>
                            <button type="button" class="btn-comments btn btn-primary" data-id="{{ id }}"><span class="glyphicon glyphicon-comment"></span> Comments </button>
                        </div>
                        <div class="post_right">
                            <div class="">
                                <a class="btn fa fa-thumbs-up fa-3x" style="flex: 1;" onclick="vote({{id}}, 1, updateVote)"></a>
                                <a class="btn fa fa-thumbs-down fa-3x" style="flex: 1;" onclick="vote({{id}}, -1, updateVote)"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {{/each}}

 
    </div>


{{/with}}

<!-- The Modal for Comments -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-dialogue">
    <div class="modal-content">
        <div class="modal-header">
            <!-- <span class="close">&times;</span> -->
            <h2>Comments</h2>
        </div>
        <div class="modal-body">
        </div>
        <div class = "modal-tools">
            <textarea id="modal-cmt-add"    rows="4" cols="50"></textarea>
            <button   id="modal-btn-add"    class="btn btn-primary">Add Comments </button>
            <button   id="modal-btn-close"  class="btn btn-danger">Close</button>
        </div>
        <!-- <button   id="modal-btn-add"    style="display: block; width: 100%; font-size: 2em;">Add Comment</button> -->
        <!-- <button   id="modal-btn-close"  style="display: block; width: 100%; font-size: 2em;">Close</button> -->
    </div>
</div>
</div>

<script type="text/javascript" src="/bower_components/bootbox.js/bootbox.js"></script>
<script type="text/javascript" src="/bower_components/moment/moment.js"></script>
<script src="javascripts/home.js"></script>