

<h1 id="mainHeading" class="text-center">Pintura Home Feed</h1>
<hr>

{{#with data}}

    
    <div class="container-fluid align-center">
    

        <!--
        <h3 class="text-center">List Of Nearby Pinturas</h3>
        -->

            {{#each features}}
                <div class="container-fluid row">

                <!--
                     data-coordinate={{ geo.geometry.coordinates}}>
                -->

                    <!--This is hidden (comments shown using modal)-->
                    <div class="comments list-group" hidden="hidden" data-id="{{ id }}">
                        {{#each comments}}
                            <p class="list-group-item">{{ this }}</p>
                        {{/each}}
                    </div>

                    <h4 class="strong post_left">Title: {{ title }}</h4>
                    <img class="post-content graffiti img-rounded img-responsive" src={{ geo.link }} alt="graffiti 1 s drawing"></dt>
                    <div class="post_header">
                        <div class="strong post_left space">
                            <p >Description: {{ description }}</p>
                            <p>Votes: {{ votes }}</p>
                            <button type="button" class="btn btn-primary" onclick="upvote({{id}})">Upvote</button>
                            <button type="button" class="btn btn-danger" onclick="downvote({{id}})">Downvote</button> <!-- TODO: button doesn't do anything -->
                        </div>
                        <div class="post_right">
                            <img class="icn-comments btn-comments hvr-bounce-in" src="images/comment-bubble.jpg" alt="" data-id="{{ id }}">
                        </div>
                    </div>
                    <hr>
                    <!--
                    <p class="text-center">Location: {{ geo.geometry.coordinates }} </p>
                    -->

                </div>
            {{/each}}

 
    </div>


{{/with}}

<!-- The Modal for Comments -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Comments</h2>
        </div>
        <div class="modal-body">
        </div>
        <!--<div class="modal-footer">-->
            <!--<h3>Modal Footer</h3>-->
        <!--</div>-->
        <textarea id="modal-cmt-add"    style="width: 100%;" hidden="hidden" rows="4" cols="50"></textarea>
        <button   id="modal-btn-add"    style="display: block; width: 100%; font-size: 4em;">Add Comment</button>
        <button   id="modal-btn-close"  style="display: block; width: 100%; font-size: 4em;">Close</button>
    </div>

</div>

<script src="javascripts/home.js"></script>
<script>
function upvote(xid){
    var mydata = "data.json";
    if(mydata){
        console.log("reading json...");
        console.log(mydata.features);
        for(i = 0; i <mydata.total; i++){
            if(mydata.features[i].id == xid){
                mydata.features[i].votes += 1;
                console.log("votes increased");
            }
            else{
                console.log("error upvoting");
            }
        }
    }
    else{
        console.log("error reading json");
    }
}
</script>