<link rel="stylesheet" href="stylesheets/comment-modal.css">

<h1>This is Home Page</h1>

<a href="/post"><button class="btn btn-primary"> Post Graffiti </button></a>
<a href="/map"><button class="btn">Go to Map</button></a>

{{#with data}}
    <div class="container center-block">
        <h3 class="text-center">Here are the list of nearby Graffiti</h3>
            {{#each features}}
                <div class="post row center-block"
                     data-coordinate={{ geo.geometry.coordinates}}>
                    <!--This is hidden (comments shown using modal)-->
                    <div class="comments list-group" hidden="hidden" data-id="{{ id }}">
                        {{#each comments}}
                            <p class="list-group-item">{{ this }}</p>
                        {{/each}}
                    </div>
                    <p class="">Title: {{ title }}</p>
                    <p class="">Description: {{ description }}</p>
                    <p class="">Votes: {{ votes }}</p>
                    <button class="btn" onclick="upvote({{id}})">Upvote</button> <!-- TODO: button doesn't do anything -->
                    <button class="btn" onclick="downvote({{id}})">Downvote</button> <!-- TODO: button doesn't do anything -->
                    <div class="post-content">
                        <img class="graffiti" src={{ geo.link }} alt="graffiti 1 s drawing"></dt>
                        <img class="icn-comments btn-comments" src="images/comment-bubble.jpg" alt="" data-id="{{ id }}">
                    </div>
                    <p class="text-center">Location: {{ geo.geometry.coordinates }} </p>
                </div>
            {{/each}}
    </div>
{{/with}}

<!-- The Modal for Comments -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Comments</h2>
        </div>
        <div class="modal-body">
        </div>
        <!--<div class="modal-footer">-->
            <!--<h3>Modal Footer</h3>-->
        <!--</div>-->
        <textarea id="modal-cmt-add"    style="width: 100%;" hidden="hidden" rows="4" cols="50"></textarea>
        <button   id="modal-btn-add"    style="display: block; width: 100%; font-size: 4em;">Add Comment</button>
        <button   id="modal-btn-close"  style="display: block; width: 100%; font-size: 4em;">Close</button>
    </div>

</div>

<script src="javascripts/home.js"></script>
<script>
    var data;
    function upvote(id){
        console.log("upvoting");
        if(data){
            //TODO 
        }
        else{
            console.log("Data not fetched");
        }
    }
    $.getJSON('/data.json', function(data){
        //TODO
        data = data;
    });
</script>