
<head>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>


<h1 id="mainHeading" class="text-center">Pintura Home Feed</h1>
<div id="home-post-btn">
    <a href="/post" class="btn btn-primary"> Post a Pintura! </a>
    </div>
<hr>

{{#with data}}

    
    <div class="container-fluid align-center post_list">

            {{#each features}}
                <div class="container-fluid row post" data-coordinate={{ geo.geometry.coordinates}} data-id={{ id }}>

                    <!--This is hidden (comments shown using modal)-->
                    <div class="comments list-group" hidden="hidden" data-id="{{ id }}">
                        {{#each comments}}
                            <p class="list-group-item">{{ this }}</p>
                        {{/each}}
                    </div>

                    <h3 class="strong post_left">Title: {{ title }}</h3>
                    <img class="post-content graffiti img-rounded img-responsive" src={{ geo.link }} alt="graffiti 1 s drawing"></dt>
                    <div class="post_header">
                        <div class="strong post_left space">
                            <p >Description: {{ description }}</p>
                            <p class="votes">Votes: {{ votes }}</p>
                            <a class="btn fa fa-thumbs-up fa-3x" onclick="vote({{id}}, 1, updateVote)"></a>
                            <a class="btn fa fa-thumbs-down fa-3x" onclick="vote({{id}}, -1, updateVote)"></a>
                            <br><br>
                            <button type="button" class="btn showmap btn-success" onclick="toggleMap({{id}})">Map</button>
                            <button type="button" class="btn-comments btn btn-primary" data-id="{{ id }}"><span class="glyphicon glyphicon-comment"></span> Comments </button>
                            <!--
                            <button type="button" class="btn delete btn-danger" onclick="removePost({{id}})">Delete</button>
                            -->
                        </div>
 
                     
                            <!--<img class="icn-comments btn-comments" src="images/comment-bubble.png" alt="" data-id="{{ id }}"> -->
                    </div>
                </div>
                <hr>
            {{/each}}

 
    </div>


{{/with}}

<!-- The Modal for Comments -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <!-- <span class="close">&times;</span> -->
            <h2>Comments</h2>
        </div>
        <div class="modal-body">
        </div>
        <textarea id="modal-cmt-add"    style="width: 100%;" hidden="hidden" rows="4" cols="50"></textarea>
        <button   id="modal-btn-add"    style="display: block; width: 100%; font-size: 2em;">Add Comment</button>
        <button   id="modal-btn-close"  style="display: block; width: 100%; font-size: 2em;">Close</button>
    </div>

</div>

<script src="javascripts/home.js"></script>