<link rel="stylesheet" href="stylesheets/comment-modal.css">

<h1>This is Home Page</h1>

<a href="/post"><button class="btn btn-primary"> Post Graffiti </button></a>
<a href="/map"><button class="btn">Go to Map</button></a>

{{#with data}}
    <div class="container center-block">
        <h3 class="text-center">Here are the list of nearby Graffiti</h3>
            {{#each features}}
                <div class="post row center-block"
                     data-coordinate={{ geo.geometry.coordinates}}>
                    <!--This is hidden (comments shown using modal)-->
                    <div class="comments list-group" hidden="hidden">
                        {{#each comments}}
                            <p class="list-group-item">{{ this }}</p>
                        {{/each}}
                    </div>
                    <p class="">Title: {{ title }}</p>
                    <p class="">Comment: {{ comment }}</p>
                    <div class="post-content">
                        <img class="graffiti" src={{ geo.link }} alt="graffiti 1 s drawing"></dt>
                        <img class="icn-comments btn-comments" src="images/comment-bubble.jpg" alt="">
                    </div>
                    <p class="text-center">Location: {{ geo.geometry.coordinates }} </p>
                </div>
            {{/each}}
    </div>
{{/with}}

<!-- The Modal for Comments -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Comments</h2>
        </div>
        <div class="modal-body">
        </div>
        <!--<div class="modal-footer">-->
            <!--<h3>Modal Footer</h3>-->
        <!--</div>-->
        <textarea id="modal-cmt-add" style="width: 100%;" hidden="hidden" rows="4" cols="50"></textarea>
        <button class="modal-btn-add" style="display: block; width: 100%; font-size: 4em;">Add Comment</button>
        <button class="modal-btn-close" style="display: block; width: 100%; font-size: 4em;">Close</button>
    </div>

</div>

<script>
    $(".post").each( function (i, obj) {
        var coor = $(this).data('coordinate');
        coor = coor.split(',').map(parseFloat).reverse();
        console.log(coor);

        var postmap = $('<div>', {
            "id": "map" + i,
            "style": "height: 200px; width: auto;"
        });
        $(this).append(postmap);

        let map = L.map('map' + i, {
            center: coor,  /** just in case gps does not work */
            zoom: 15,
            doubleClickZoom: false}
        );
        L.marker(coor).addTo(map);

//        Mapbox Tile as a backup
//        L.tileLayer('https://api.mapbox.com/styles/v1/twsalim/cj201s4ev001q2soz3o0zvcsg/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHdzYWxpbSIsImEiOiJjajFoNGpsd2owMGI0MzNvaGNxeWN5ZTJ3In0.X-Mp23YcMlZIfXak5KzKvg').addTo(map);

        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    });

    // Get the modal
    const modal = document.getElementById('myModal');

    // Get the button that opens the modal
    const btnComments = $(".btn-comments");
    let newComment = $("#modal-cmt-add");
    let modalBody = $(".modal-body");

    btnComments.each(function (index) {
        $(this).on("click", function () {
            modal.style.display = "block";
            const comments = $(this).closest('div.post').find('.comments');
            console.log(comments.html());
            modalBody.html(comments.html());
        })
    });
    $(".modal-btn-add").each(function () {
        $(this).on("click", function () {
            newComment.show();
        })
    });
    $(".modal-btn-close").each(function () {
        $(this).on("click", function () {
            newComment.hide();
            modal.style.display = "none";
        })
    });

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    };
</script>

