<head>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<h1 id="mainHeading" class="text-center">Your Profile</h1>
{{#if own}}
    <p><button id="nopostsbtn" class="btn btn-primary btn-block btn-lg" onclick="window.location.href='/post'"></button></p>
{{/if}}
<br>
<h2>Post History</h2>
<script>var ownposts = 0;</script>

<div class="container container-fluid align-center post_list">


    {{#if post_exists}}
    {{#each user_posts}}
            <script>ownposts++;</script>

            <div class="container-fluid post row" data-coordinate={{ geo.geometry.coordinates}} data-id={{ id }}>

                <!--This is hidden (comments shown using modal)-->
                <div class="comments list-group" hidden="hidden" data-id="{{ id }}">
                    {{#each comments}}
                        <p class="list-group-item" style="font-family: 'Bree Serif', serif;">{{ this }}</p>
                    {{/each}}
                </div>

                <div class="post_header">
                    <h3 class="strong post_left">{{ title }}</h3>
                </div>
                <img class="post-content graffiti img-rounded img-responsive" src={{ geo.link }} alt="graffiti 1 s drawing"></dt>
                <div class="post_header">
                    <div class="strong post_left">
                        <p style="text-align: left; line-height: 50%;">Posted {{ toLocalTime time }}</p>
                        <p style="text-align: left; line-height: 50%;">by {{ user }}</p>
                        <p style="font-weight: 100; text-align: left;">{{ description }}</p>
                    </div>
                    <div class="post_right">
                        <div class="">
                            <a id="upbtn" class="btn fa fa-caret-up fa-2x" style="color: #C8C8C8;" onclick="vote({{id}}, 1, updateVote)"></a>
                            <p class="votes" style="text-align: center; line-height: 100%;">{{ votes }} votes</p>
                            <a id="downbtn" class="btn fa fa-caret-down fa-2x" style="color: #C8C8C8;" onclick="vote({{id}}, -1, updateVote)"></a>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row-reverse">
                        <!--TODO: dynamic scripts from home page is still not implemented here, cant show map, or comment, yet-->
                        <!--<button style="flex: 1" type="button" class="btn showmap btn-success" onclick="toggleMap({{id}})">-->
                            <!--Map-->
                        <!--</button>-->
                        <!--<button style="flex: 1" type="button" id="commentBtn" class="btn-comments btn btn-primary" data-id="{{ id }}">-->
                            <!--<span class="glyphicon glyphicon-comment"></span> Comments -->
                        <!--</button>-->
                        {{#if own}}
                        <button style="flex: 1; margin-right: 10px;" type="button" class="btn delete btn-danger" onclick="removePost({{id}})">
                            Delete
                        </button>
                        {{/if}}
                </div>
            </div>
            <hr>

    {{/each}}
    {{ else }}
        {{#if own}}
            <h3 class="text-center" class="strong post_left" id="noposts"></h3>
        {{ else }}
            <h3 class="text-center" class="strong post_left">
                This user has no post
            </h3>
        {{/if}}
    {{/if}}

</div>

<script>
    if(ownposts == 0){
        document.getElementById("noposts").innerHTML = "You haven't posted any pinturas yet!";
        document.getElementById("nopostsbtn").innerHTML = "Post one now!";
    }
    else{
        document.getElementById("nopostsbtn").innerHTML = "Post a Pintura!";
    }
</script>


<!-- The Modal for Comments -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-dialogue">
    <div class="modal-content">
        <div class="modal-header">
            <!-- <span class="close">&times;</span> -->
            <h2>Comments</h2>
        </div>
        <div class="modal-body">
        </div>
        <div class = "modal-tools">
            <textarea id="modal-cmt-add"    rows="4"></textarea>
            <button   id="modal-btn-add"    class="btn btn-primary">Add Comments </button>
            <button   id="modal-btn-close"  class="btn btn-danger">Close</button>
        </div>
        <!-- <button   id="modal-btn-add"    style="display: block; width: 100%; font-size: 2em;">Add Comment</button> -->
        <!-- <button   id="modal-btn-close"  style="display: block; width: 100%; font-size: 2em;">Close</button> -->
    </div>
</div>
</div>



<script type="text/javascript" src="/bower_components/bootbox.js/bootbox.js"></script>
<script type="text/javascript" src="/bower_components/moment/moment.js"></script>
<script src="javascripts/home.js"></script>
